.everything{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.headline{
    height: 7%;
    width: 100%;
    background-color: black;
}
.header{
    margin-left: 1%;
    padding-top: 15px;
    color:rgb(247, 251, 255);
}
#not{
    background-color:rgb(255, 250, 244);
    color: black;
    width: 100px;
    height: 45px;
    margin-left: 65%;
    border-radius: 45px 45px 45px 45px;
    font-family: 'Lato', sans-serif;
}

#edit{
    background-color:rgb(255, 250, 244);
    color: black;
    width: 150px;
    height: 45px;
    border-radius: 45px 45px 45px 45px;
    font-family: 'Lato', sans-serif;
}

.seo{
    width: 100%;
    margin-top: 1%;
    margin-left: 1%;
}
#pint{
    size: 50px;
    padding-right: 1%;
}
#home{
    background-color:black;
    color: rgb(255, 250, 244);
    width: 100px;
    height: 45px;
    border-radius: 45px 45px 45px 45px;
    font-family: 'Lato', sans-serif;
}
#create{
    background-color:rgb(255, 250, 244);
    color: black;
    width: 100px;
    height: 45px;
    border-radius: 45px 45px 45px 45px ;
    border:0; 
    font-family: 'Lato', sans-serif;
}
#search{
    margin-left: 2%;
    width: 1400px;
    height: 4%;
    border-radius: 50px 50px 50px 50px;
}
.main_content_container{
    height: 80%;
    width: 100%;
    padding: 0%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 4%;
}
#grid{
    vertical-align: bottom;
    margin: 0.5%;
}
#pic{
    margin-top: 0%;
    margin-bottom: 15%;
    vertical-align: top;
    border-radius: 20px;
}
.pic-container{
    vertical-align: top;
    width: 12%;
}